node_modules
dist
.build
.next
out
coverage
.turbo
.prisma
*.log
.env
.env.local
.env.*.local
!.env.example
apps/api/.env
apps/web/.env
apps/web/.env.local
*.tsbuildinfo
.DS_Store
Thumbs.db
docker-data
.idea
.vscode/*
!.vscode/extensions.json

